AddHandler x-httpd-php5 .php
# AddHandler application/x-httpd-php .html
<Files .htaccess>
order allow,deny
deny from all
</Files> 
Options +Indexes +FollowSymlinks -MultiViews
AddDefaultCharset utf-8 

RewriteEngine On

RewriteBase /cj

RewriteCond %{HTTP_HOST} ^irosario.x
RewriteRule ^ http://www.irosario.x/index.php%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?route=$1 [L,QSA] 