#am {
    height:96px;
/*    float:right;*/
}

#am ul, ul#am{
    float:right;    
    margin:0;  
    padding:0;  
    list-style:none;
}  
  
#am ul li{  
    width:125px;  
    height:75px;  
    float:left;  
    color:#191919;  
    text-align:center;  
    overflow:hidden;  
}  
  
#am a{  
    color:#FFF;  
    text-decoration:none;  
    line-height:80px;
    padding:0px 5px;    
    font-family: "Consolas";
    text-transform: uppercase;
    font-weight:bold;
    font-size:12px;  
}  
  
#am p{  
    line-height:90px;
    padding:0px 5px;  
}  
  
#am .subtext{  
        padding-top:15px;  
    }  
  
/*Menu Color Classes*/  
.green{background:#6AA63B;}  
.yellow{background:#FBC700;}  
.red{background:#D52100;}  
.purple{background:#5122B4;}  
.blue{background:#0292C0;}  
